@import "tailwindcss";

:root {
	--background: #f8fafc;
	/* slate-50 */
	--foreground: #0f172a;
	/* slate-900 */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0f172a;
		/* slate-900 */
		--foreground: #f8fafc;
		/* slate-50 */
	}
}

body {
	min-height: 100vh;
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
}

button {
	@apply cursor-pointer;
}